<!DOCTYPE html>

<html>
<head>
    <title>OnRamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% load static %}
    <link href='{% static "css/third_party/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/third_party/bootstrap-horizon.css" %}' rel="stylesheet">
    <!-- Custom Global CSS -->
    <link href='{% static "css/global_style.css" %}' rel="stylesheet">
</head>
<body role="document">
    <!-- Fixed navbar -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="NavContainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand" id="brand">OnRamp</a>
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="../Dashboard">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="myprofile.html">Profile</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#help">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-default" onclick=logout()>Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="page">
        <div class="container">
            <div class="jumbotron">
                <h1>Jobs Admin Dashboard</h1>
            </div>
        </div>


        <!-- Jobs info -->
        <div class="container">
            <div class="row">
                <h2>Job Info (<span data-bind="text: Jobslist().length"></span>)</h2>
                <p>This is a list of all jobs associated with this OnRamp server instance.</p>
            </div>

            <div class="row">
                <button class="btn btn-primary" data-bind="click: addJob">Add new Job</button>
            </div>

            <!-- list of Jobs -->
            <div class="row">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Run Name</th>
                            <th>User</th>
                            <th>Workspace</th>
                            <th>PCE</th>
                            <th>Module</th>
                            <th>Status</th>
                            <th>Runtime</th>
                            <th>Output File</th>
                            <th>Results</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Jobslist">
                        <tr data-bind="click: $parent.selectJob">
                            <td data-bind="text: jID"></td>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: user"></td>
                            <td data-bind="text: ws"></td>
                            <td data-bind="text: pce"></td>
                            <td data-bind="text: mod"></td>
                            <td data-bind="text: status"></td>
                            <td data-bind="text: time"></td>
                            <td data-bind="text: output"></td>
                            <td><button class="btn" data-bind="click: viewJobResults">View Results</button></td>
                            <td><button class="btn" data-bind="click: $parent.deleteJob">Remove Job</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="footer">
            <p>OnRamp to Parallel and Distributed Computing -- 2016</p>
        </div>
    </footer>

    <!-- put all scripty scripts below this line -->
    <!-- Order Matters here JQuery needs to be first then all_global.js -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src='{% static "javascript/all_global.js" %}'></script>
    <script src='{% static "javascript/third_party/bootstrap.min.js" %}'></script>
    <script src='{% static "javascript/third_party/knockout-3.3.0.js" %}'></script>
    <script src='{% static "javascript/admin_jobs.js" %}'></script>
</body>
</html>
