<!DOCTYPE html>

<!-- Bootstrap Template -->

<html>
<head>
  <meta charset="utf-8">
  <title>OnRamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/third_party/bootstrap.min.css">
  <link href="/static/css/global_style.css" rel="stylesheet">
  <script src="/static/javascript/all_global.js"></script>
</head>
<body>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- Fixed navbar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="NavContainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand" id="brand" href="start.html">OnRamp</a>
				<ul class="nav navbar-nav navbar-left">
                    <li><a href="/public/dashboard">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="active"><a href="/profile">Profile</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/help">Help</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<button type="button" class="btn btn-default" onclick = logout()>Logout</button>
					</li>
                </ul>
            </div>
        </div>
    </nav>

<br>

<div class="container">
  <div class="jumbotron">
    <h1>User Profile: <span data-bind="text: username"></span></h1>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <p data-bind="text: username"></p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <input data-bind="value: username"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <p data-bind="text: fullName"></p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <input data-bind="value: fullName"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <p data-bind="text: email"></p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <input data-bind="value: email"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <p>Admin? (<span data-bind="text: isAdmin"></span>)</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <input data-bind="checked: isAdmin" type="checkbox" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <button class="btn" data-bind="click: updateServer">Save Changes</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>Saved some stuff <span data-bind="text: counter()"></span></p>
  </div>
</div>


<!-- footer -->
<footer class="footer">
  <div class="container" class="footer">
    <p>OnRamp to Parallel and Distributed Computing -- 2016</p>
  </div>
</footer>

<!-- put all scripty scripts below this line -->
<script src="/static/javascript/third_party/bootstrap.min.js"></script>
<script src="/static/javascript/third_party/knockout-3.3.0.js"></script>
<script src="/static/javascript/user_profile.js"></script>
</body>
</html>
