@import url(https://fonts.googleapis.com/css?family=Bevan);
.navbar-collapse{
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
#brand{
	font-family: 'Bevan', sans-serif; 
	color: #FFD700
}

.active{
	color: #FFD700;
}
.navbar-right{
	margin-right: 30px;
	margin-top: 15px;
}

.page {
    padding-top: 5%;
    padding-bottom: 3%;
}

.refresh-header {
	width: 50%;
	display: table-cell;
	float: left;
}

.refresh-button {
	display: table-cell;
	margin-left: 20px;
	float: right;
}

.footer{
	margin-top: 10px;
	position: fixed;
	height: 4%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: black;
	padding-top: 3px;
	background-color: #0c84e4;
}

.footer p {
	float: left;
	padding-left: 20px;
}

[class = "table-flow"]{
	height: 300px;
	width: 100%;
	overflow-y: scroll;
}
.hover:hover{
	background-color: #FFD700;
}
.hover{
	box-shadow: 2px 2px 10px 1px grey;
}
.jumbotron{
	background-color: Lavender;
	text-align: center;
}

.required::before {
    content: "*";
    color: red;
}

/* style for tables used to edit objects */
.edit-table-col {
	width: 20%;
	float: left;
}

.table-header {
	font-weight: bold;
	text-decoration: underline;
}
